<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<style>
    td {
    border: 1px solid black;
    }
</style>
<body>
<h3>Отчет</h3>
<table>
    <tr>
        <td>Группа</td>
        <td>min показание</td>
        <td>max показание</td>
        <td>Расход</td>
    </tr>
    <th:block th:each="group : ${readings}">
        <tr>
            <td th:text="${group.meterGroup.name}" colspan="4"></td>
        </tr>
        <tr th:each="reading : ${group.readings}">
            <td th:text="'сч. ' + ${reading.meter.id} + ' (' + ${reading.meter.type} + ')'"></td>
            <td th:text="${reading.minReading}"></td>
            <td th:text="${reading.maxReading}"></td>
            <td th:text="${reading.consumption}"></td>
        </tr>
        <tr>
            <td th:text="'Итого ' + ${group.meterGroup.name} + ':'" colspan="3" ></td>
            <td th:text="${group.consumption}"></td>
        </tr>
    </th:block>
    <tr>
        <td colspan="3">Всего:</td>
        <td th:text="${#aggregates.sum(readings.![consumption])}"></td>
    </tr>
</table>

<form action="/report" method="POST" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit" value="Отправить"/>
</form>
</body>
</html>